* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #48555B;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 961px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.link {
  text-transform: uppercase;
  text-decoration: none;
}
.btn {
  width: 150px;
  height: 40px;
  background-color: #00a4e5;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #1297cc;
}


 /* Header */

.header {
  width: 100%;
  height: 769px;
  color: #ffffff;
  text-align: center;
  background: url("../img/header-bg.png") center no-repeat;
  background-size: cover;
}
.header-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-top: 40px;
}
.title-text {
  width: 100%;
  max-width: 594px;
  margin-top: 88px;
}
.title {
  font-family: 'Bebas Neue';
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 5.7px;
  color: #ffffff;
  margin-bottom: -5px;
  padding-left: 13px;
}
.sub-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.scroll-down-text {
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  padding-bottom: 70px;
}

/* Navigation */
.nav {
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
}
.nav-inner {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  width: 42%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.nav-link {
  color: #48555B;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
  margin-right: 34px;
  transition: color 0.2s;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link:hover {
  color: #00A4E5;
}


/* Story */

.story {
  min-height: 465px;
}
.story-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.story-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.3px;
  text-align: center;
  padding-top: 56px;
}
.story-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  margin: 11px auto 54px;
}
.story-text {
  width: 43.8%;
  max-width: 412px;
}
.story-main-text {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.18px;
  margin-bottom: 32px;
}
.story-sub-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.18px;
}
.story-pictures {
  margin-top: 30px;
}
.story-picture {
  display: inline-block;
  width: 140px;
  height: 224px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.19px;
  color: #ffffff;
  margin-right: 15px;
  padding-top: 16px;
  padding-left: 14px;
}
.story-picture-first {
  background: url("../img/weplan.png") center no-repeat;
}
.story-picture-second {
  background: url("../img/wemanage.png") center no-repeat;
}
.story-picture-third {
  background: url("../img/webuild.png") center no-repeat;
  margin-right: 0;
}


/* Features */
.features {
  padding-top: 55px;
}
.features-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.3px;
}
.features-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  margin-top: 11px;
}
.features-text {
  max-width: 405px;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  margin-right: -13%;
}

.features-panels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 77px;
}
.features-panel {
  width: 31.4%;
  border: 1px solid #e6e6e6;
  padding: 36px 17px 0 23px;
}
.panel-img {
  margin-bottom: 20px;
}
.panel-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.43px;
  margin-bottom: 14px;
}
.panel-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}


/* Get in touch */

.get-in-touch {
  width: 100%;
  background: url("../img/build-bg.png") center no-repeat;
  background-size: cover;
  height: 498px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 154px;
}
.get-in-touch-text {
  max-width: 350px;
  text-align: center;
}
.get-in-touch-title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  margin: -110px 0 34px;
}


/* Newsletter */


.newsletter-container {
  width: 100%;
  max-width: 707px;
  padding: 0 10px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter {
  width: 100%;
  height: 102px;
  background-color: #171819;
  margin-top: -2px;
}
.newsletter-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.4px;
  color: #ffffff;
  margin-right: 5px;
}
.newsletter-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-bottom: 1px;
}
.newsletter-input {
  width: 62.5%;
  height: 40px;
  padding-left: 17px;
  padding-top: 4px;
  border: 1px solid #979797;
  border-right: none;
  outline: none;
}
.newsletter-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07px;
  color: #48555b;
}


/* Footer Info */

.footer-info {
  width: 100%;
  min-height: 242px;
  background-color: #141a20;
  padding-top: 43px;
  margin-top: -2px;
  overflow: hidden;
}
.footer-info-text {
  display: flex;
}
.info-title {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.85px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info-title-first {
  margin-bottom: 19px;
}
.info-title-second {
  margin-bottom: 10px;
}
.info-title-third {
  margin-bottom: 15px;
}


.company {
  max-width: 249px;
  margin-right: 7.5%
}
.footer-logo {
  margin-bottom: 11px;
}
.company-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #ffffff;
}


.footer-links {
  max-width: 300px;
  margin-right: 2.3%;
}
.footer-links-columns {
  display: flex;
}
.footer-links-column {
  width: 27%;
}
.footer-links-column:first-child {
  margin-right: 30px;
}
.footer-links-column:nth-child(2) {
  margin-right: 10px;
}
.footer-links-column:last-child {
  margin-right: 0;
}
.footer-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.85px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}


.contacts {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.85px;
  color: #ffffff;
  width: 12%;
  margin-right: 7.8%;
}
.contact-adress {
  margin-bottom: 16px;
}
.contact-tel {
  margin-bottom: 16px;
}

.socials {
  color: #ffffff;
  font-size: 13px;
  margin-top: 27px;
}
.socials i {
  margin-right: 22px;
}

/* Footer Bottom */

.footer-bottom {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.85px;
  text-align: center;
  height: 62px;
  background-color: #171819;
  color: #ffffff;
  margin-top: -2px;
}
.footer-bottom-text {
  padding-top: 22px;
  margin-left: 10px;

}

@media (max-width: 830px) {
  .nav-links {
    width: 52%;
  }



  .story-text {
    width: 100%;
    max-width: none;
    text-align: center;
  }
  .story-pictures {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .features-title::after {
    margin: 11px auto 20px;
  }
  .features-top {
    display: block;
    text-align: center;
  }
  .features-text {
    width: 100%;
    margin: 0 auto 25px;
  }
}

@media (max-width: 575px) {
  .header {
    height: 92vh;
  }
  .header-logo {
    margin-top: 30px;
  }
  .title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 5px;
  }
  .sub-title {
    font-size: 12px;
  }
  .scroll-down-text {
    padding-bottom: 50px;
  }



  .nav-logo {
    display: none;
  }
  .nav-links {
    width: 100%
  }
  .nav-link {
    font-size: 13px;
    margin-right: 17px;
  }



  .story-title {
    padding-top: 20px;
  }
  .story-title::after {
    margin-bottom: 30px;
  }
  .story-main-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .story-picture {
    width: 30%;
    height: 171px;
    font-size: 18px;
    padding-top: 9px;
    padding-left: 12px;
  }
  .story-picture-third {
    margin-right: 0;
  }


  .features {
    padding-top: 42px;
  }
  .features-text {
    font-size: 12px;
  }
  .features-panels {
    margin-top: 50px;
  }
  .features-panel {
    width: 100%;
    padding:28px 17px 15px 23px;
    margin-bottom: 15px;
  }


  .get-in-touch {
    margin-top: 0;
  }
  .get-in-touch-title {
    font-size: 28px;
    margin-top: -75px;
    margin-bottom: 22px;
  }


  .newsletter {
    height: 110px;
  }
  .newsletter-text {
    font-size: 20px;
    margin: 10px auto 0;
  }
  .newsletter-form {
    margin: 0 auto 1px;
  }
  .newsletter-input {
    height: 35px;
  }
  .btn-newsletter {
    height: 35px;
  }


  .footer-info {
    padding-top: 40px;
  }
  .footer-info-text {
    display: block;
    text-align: center;
  }
  .company,
  .footer-links {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 55px;
  }
  .info-title {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .footer-links-columns {
    justify-content: space-between;
  }
  .footer-links-column {
    width: 80px;
    text-align: left;
  }
  .contacts {
    width: 100%;
    margin-right: 0;
  }
  .socials {
    margin-bottom: 27px;
  }
  .socials i:last-child {
    margin-right: 0;
  }


  .footer-bottom-text {
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .nav-link {
    font-size: 12px;
    margin-right: 8px;
  }
  .story-picture {
    width: 29%;
    height: 135px;
    font-size: 15px;
    line-height: 24px;
  }
}
